// Navbar Colors
// -------------------------

.navbar-primary,
.navbar-success,
.navbar-info,
.navbar-danger {
  color: #fff;
}
.navbar-primary {
  background-color: @brand-primary;
  
  input,
  .form-control {
    border-color: darken(@brand-primary, 5%);
  }
  a {
    color: darken(@brand-primary, 35%);
  }
}
.navbar-success {
  background-color: lighten(@brand-success, 5%);
  
  input,
  .form-control,
  .btn-success {
    border-color: darken(@brand-success, 12%);
  }
  a {
    color: darken(@brand-success, 12%);
  }
}
.navbar-info {
  background-color: @brand-info;
  
  input,
  .form-control {
    border-color: darken(@brand-info, 20%);
  }
  a {
    color: darken(@brand-info, 35%);
  }
}
.navbar-warning {
  background-color: darken(@brand-warning, 2%);
  
  input,
  .form-control {
    border-color: darken(@brand-warning, 5%);
  }
  a {
    color: darken(@brand-warning, 35%);
  }
}
.navbar-danger {
  background-color: @brand-danger;
  
  input,
  .form-control {
    border-color: darken(@brand-danger, 5%);
  }
  a {
    color: darken(@brand-danger, 35%);
  }
}

// Lighter
.navbar-success-light {
  background-color: lighten(@brand-success-light, 5%);
  
  input,
  .form-control,
  .btn-success {
    border-color: darken(@brand-success-light, 12%);
  }
  a {
    color: darken(@brand-success-light, 12%);
  }
}
.navbar-info-light {
  background-color: @brand-info-light;
  
  input,
  .form-control {
    border-color: darken(@brand-info-light, 20%);
  }
  a {
    color: darken(@brand-info-light, 35%);
  }
}
.navbar-warning-light {
  background-color: darken(@brand-warning-light, 2%);
  
  input,
  .form-control {
    border-color: darken(@brand-warning-light, 5%);
  }
  a {
    color: darken(@brand-warning-light, 35%);
  }
}
.navbar-danger-light {
  background-color: @brand-danger-light;
  
  input,
  .form-control {
    border-color: darken(@brand-danger-light, 5%);
  }
  a {
    color: darken(@brand-danger-light, 35%);
  }
}

// Darker
.navbar-success-dark {
  background-color: lighten(@brand-success-dark, 5%);
  
  input,
  .form-control,
  .btn-success {
    border-color: darken(@brand-success-dark, 12%);
  }
  a {
    color: darken(@brand-success-dark, 12%);
  }
}
.navbar-info-dark {
  background-color: @brand-info-dark;
  
  input,
  .form-control {
    border-color: darken(@brand-info-dark, 20%);
  }
  a {
    color: darken(@brand-info-dark, 35%);
  }
}
.navbar-warning-dark {
  background-color: darken(@brand-warning-dark, 2%);
  
  input,
  .form-control {
    border-color: darken(@brand-warning-dark, 5%);
  }
  a {
    color: darken(@brand-warning-dark, 35%);
  }
}
.navbar-danger-dark {
  background-color: @brand-danger-dark;
  
  input,
  .form-control {
    border-color: darken(@brand-danger-dark, 5%);
  }
  a {
    color: darken(@brand-danger-dark, 35%);
  }
}