//
// Utilities
// --------------------------------------------------

.radius-none {
  border-radius: 0;
}
.overflow-hidden {
  overflow: hidden;
}
.block {
  display: block;
  &:hover {
    text-decoration: none;
  }
}